In [3]:
import pandas as pd
import pyarrow.parquet as pq
import os

In [5]:
folders_of_table = "Desktop/Tennis project/202405 /20240501/data/raw"
folders_path = [os.path.join(folders_of_table, file) for file in os.listdir(folders_of_table) ]

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/Tennis project/202405 /20240501/data/raw'

In [7]:

folder_path = "/home/mostafa2rz/Downloads/c"

file_paths = [os.path.join(folder_path, file) for file in os.listdir(folder_path) ]

file_paths

['/home/mostafa2rz/Downloads/c/away_team_12260076.parquet',
 '/home/mostafa2rz/Downloads/c/away_team_12260077.parquet',
 '/home/mostafa2rz/Downloads/c/away_team_12260075.parquet']

In [3]:
df = [pd.read_parquet(file, engine= 'pyarrow') for file in file_paths ]

In [4]:
result_df = pd.concat([df[i] for i in range(len(df))], ignore_index=True)
result_df

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,12260076,Khachanov K.,khachanov-karen,M,14411,"Dubai, UAE","Moscow, Russia",1.98,87,right-handed,2013,877460,13580818,90080,18,KHA,Russia,"Khachanov, Karen"
1,12260077,Alcaraz C.,alcaraz-carlos,M,141553,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68,right-handed,2018,1590518,24112308,275923,3,ALC,Spain,"Alcaraz, Carlos"
2,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80,right-handed,None,763346,2988783,254742,24,LEH,Czech Republic,"Lehečka, Jiří"