In [1]:
import numpy as np
import pandas as pd

In [2]:
df_match_winners = pd.read_csv('/home/mostafa2rz/Desktop/Tennis_project/Notebook/match_winner.csv')
df_match_winners

      Unnamed: 0  match_id match_winner  player_id
0              0  12260075         away   254742.0
1              1  12260077         away   275923.0
2              2  12260084         away   254742.0
3              3  12261530         away   106755.0
4              4  12261532         away   106755.0
...          ...       ...          ...        ...
6550        3336  12384674         home   134342.0
6551        3337  12384788         home   386338.0
6552        3338  12384806         home   342835.0
6553        3339  12384975         home    96061.0
6554        3340  12385017         home   254281.0

[6555 rows x 4 columns]

In [19]:
number_of_home_winner = int(df_match_winners['match_winner'].value_counts()['home'])
number_of_away_winner = int(df_match_winners['match_winner'].value_counts()['away'])
number_of_home_winner

3341

In [23]:
#winning home team chance
number_of_home_winner/len(df_match_winners['match_winner'])

0.5096872616323417

In [22]:
((number_of_home_winner/len(df_match_winners['match_winner'])-(1-(number_of_home_winner/len(df_match_winners['match_winner'])))) )*100/2

0.9687261632341682

As you can see, hosting increases the chance of winning by almost 1%